/* GENERAL */
body{
    background: linear-gradient(220.55deg, #4063BC 0%, #6B0013 100%);
    /*background: rgb(126,139,143);*/
    /*background: linear-gradient(90deg, rgba(126,139,143,0.875770376509979) 0%, rgba(145,187,230,0.9598039899553571) 0%, rgba(66,187,212,0.6432773793110995) 100%);*/
}

/* PERSONAL*/

logo{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: Arial;
    font-weight: bold;
}
.tamano{
    padding: 0.6em 3em 0.6em 3em;
    margin: 0.35em;
}

.color-custom-button{
    font-family: 'Oswald', sans-serif;
    /*background-color: #4082f0;*/
    color: #07211c;
    font-weight: bold;
    font-size: 1.2em;
    border-width: 0;
}

.btn-group .btn {
    width: 50%;
    margin: 10px;
}
.btn-group {
    width: 100%;
}

.padding-custom{
    margin: 12px;
}

.sombreado{
    -webkit-box-shadow: 4px 6px 8px 0px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 4px 6px 8px 0px rgba(0, 0, 0, 0.64);
    box-shadow: 4px 6px 8px 0px rgba(0, 0, 0, 0.64);
}

.color-text{
    color: black;
}

.content-separation{
    padding-top: 1em;
    margin-top: 1em;
}

.image{
    margin-bottom: 1em;
}
/* Testeo */

